  .mobile-card-container {
  display: block;
}
.container-fluid {
    width: 100%;
    
    font-family: 'Poppins', sans-serif !important;
}
.Download_container {
  max-width: 100%;
  background-color: #F9FCFF!important;
  padding-left: 70px;
  padding-right: 40px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 60px;
  margin-top: 40px;
}
.Download_row_styling{
  padding-left: 88px;
}
.Download_mx-sm-auto {
  margin-right: 63px!important;
  margin-left: 20px !important;
}
.row{
    margin-left: 0 !important;
}
  .card {
    position: relative;
    /* border: 1px solid black; */
    margin-top: 4rem;
    border-radius: 12px;
    line-height: 1;
    height: 219px;
    margin-bottom: 2%;
    width: 325px;
  }
  .card-img-div{
  align-items: center;
  margin-left: 7rem;
  }
  .card-image {
    position: absolute;
    width: 73px;
    height: auto;
    top: -2rem;
    left: 40%; 
  }
  .card-body {
    padding: 30px 30px 0px 30px;
  }
  .card-title {
    font-weight: 600;
    font-size: 20px;
    color: black;
    line-height: 24px;
    margin-top: 24px;
  }
  .total-downloads{
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
  }
  .download-button{
    font-size: 17px;
    font-weight: 400;
    padding-top: 20px;
  }
  .hr-tag{
    margin-top: 0.5rem;
    width: 100%;
  }
  
  
   /* MOBILE */
  @media screen and (max-width: 576px) {
    .Download_container {
      max-width: 100%;
      background-color: #F9FCFF!important;
      padding-left: 0px;
      padding-right: 0px;
      font-family: 'Poppins', sans-serif;
      padding-bottom: 30.09px;
      margin-bottom:90px;
    }
 
    .Download_row_styling {
      padding-left: 30px ;
      padding-top: 50px;
      padding-bottom: 15px;
  }

  .mobile-card-container > .row {
      overflow-x: auto;
  }
  
    .Download_mx-sm-auto {
      margin-right: 1px!important;
      margin-left: 0px !important;
  }
  .col-10 {
      flex: 0 0 58.333333% !important;
      max-width: 79.333333% !important;
  } 
 .card {
      position: relative;
      /* border: 1px solid black; */
      margin-top: 4rem;
      border-radius: 7px;
      line-height: 1;
      height: 160px;
      margin-bottom: 2%;
      width: 194px;
      margin-right: 30px !important;
      
    }
  
    .card-img-div{
      align-items: center;
      /* margin-left: 50rem !important; */
      }

      .card-image {
        position: absolute;
        width: 43px;
        height: auto;
        top: -1.5rem;
        margin-left: 0rem;
        left: 38%;
      }
      .card-body {
        padding: 10px;
      }
      .card-title {
        font-weight: 600;
        font-size: 14px;
        color: black;
        line-height: 1.2rem;
        margin-top: 1rem;
      }
      
      .total-downloads{
        font-size: 12px;
        font-weight: 400;
        margin-top: 1.1rem;
      }
      
      .download-button{
        font-size: 13px;
        font-weight: 400;
      }
      
      .hr-tag{
        margin-top: 0.5rem;
        width: 90% !important;
      }

      .react-multiple-carousel__arrow--left {
        left: calc(0% + 0px);
        display: none;
      }
      .react-multiple-carousel__arrow--right {
        left: calc(0% + 0px);
        display: none;
      }
  }
  
  /* FOR TABLETS */
  @media(min-width: 576px) and (max-width: 800px){
    .caro {
    padding-left: 1rem;
} 

    .react-multi-carousel-item {
      margin-right: 5px;
      }
  
      .card {
        position: relative;
        margin-left: 10px !important;
        margin-right: 10px !important;
        /* border: 1px solid black; */
        margin-top: 4rem;
        border-radius: 7px;
        line-height: 1;
        height: 10rem;
        margin-bottom: 2%;
        width: 350px; 
      } 
      
      .card-img-div{
        align-items: center;
        margin-left: 4.3rem !important; 
        }
        
        .card-image {
          position: absolute;
          width: 3rem;
          height: auto;
          top: -1.5rem;
          /* margin-left: 1.6rem; */
          /* left: 30%; */
        }
        .card-body {
          padding: 12px;
        }
        .card-title {
          font-weight: 600;
          font-size: 14px;
          color: black;
          line-height: 1.2rem;
          margin-top: 1rem;
        }
        
        .total-downloads{
          font-size: 12px;
          font-weight: 400;
          margin-top: 1.1rem;
        }
        
        .download-button{
          font-size: 13px;
          font-weight: 400;
        }
        
        .hr-tag{
          margin-top: 0.5rem;
          width: 90% !important;
        }
        .react-multiple-carousel__arrow--left {
            left: calc(0% + 0px);
            display: none;
          }
          .react-multiple-carousel__arrow--right {
            left: calc(0% + 0px);
            display: none;
          }
  }
  
  /* For big tablets */
  @media(min-width: 800px) and (max-width: 1024px){
    .caro {
      padding-left: 5rem;
  } 
  
    .react-multi-carousel-item {
      margin-right: -40px;
      }
  
      .card {
        position: relative;
        margin-left: 10px !important;
        margin-right: 10px !important;
        /* border: 1px solid black; */
        margin-top: 4rem;
        border-radius: 7px;
        line-height: 1;
        height: 10rem;
        margin-bottom: 2%;
        width: 12rem; 
      } 
      
      .card-img-div{
        align-items: center;
        margin-left: 4.3rem !important; 
        }
        
        .card-image {
          position: absolute;
          width: 2.8rem;
          height: auto;
          top: -1.5rem;
          /* margin-left: 1.6rem; */
          /* left: 30%; */
        }
        .card-body {
          padding: 12px;
        }
        .card-title {
          font-weight: 600;
          font-size: 14px;
          color: black;
          line-height: 1.2rem;
          margin-top: 1.1rem ;
        }
        
        .total-downloads{
          font-size: 12px;
          font-weight: 400;
          margin-top: 1.1rem;
        }
        
        .download-button{
          font-size: 13px;
          font-weight: 400;
        }
        
        .hr-tag{
          margin-top: 0.5rem;
          width: 90% !important;
        }
  }