.Search__MainDiv {
    padding-top: 114px;
    padding-bottom: 95px;
    font-family: "Poppins", sans-serif;
    background: url("../images/image.svg"), #f6f6f6;
    background-repeat: no-repeat;
  }
  /*desktops*/
  @media only screen and (min-width: 1200px) {
    .Search__txthead {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 15px;
      color: #2541b2;
    }
  
    .Search__row {
      margin-left: 4rem !important;
    }
  
    .Search__para {
      margin-top: 30px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      color: #656565;
      margin-bottom: 77px;
      margin-right: 150px;
    }
  
    .Search__select {
      width: 400px;
      height: 53px;
      background: #ffffff;
      box-shadow: 0px 0px 9px rgba(219, 219, 219, 0.25);
      border-radius: 5px;
    }
  
    .Search__btn {
      width: 400px;
      height: 53px;
      background: #2541b2;
      box-shadow: 0px 0px 9px rgba(219, 219, 219, 0.25);
      border-radius: 5px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      color: #ffffff;
    }
  
    .Search__select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
    }
    .Search__select::-ms-expand {
      display: none;
    }
    .Search__table {
      border-collapse: collapse;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      color: #656565;
      background-color: white;
      text-align: left;
      /* padding-left: 0 !important; */
      border-radius: 10px;
    }
    .Search__table td {
      border: 1px solid #cdcdcd;
      padding-bottom: 18px;
      padding-right: 95px;
    }
    .Search__title {
      padding-left: 42px;
      padding-top: 18px;
    }
    .Search__data {
      width: 500px;
      padding-left: 42px;
      padding-top: 18px;
    }
    .Search__table tr:first-child td {
      border-top: 0;
    }
    .Search__table tr td:first-child {
      border-left: 0;
    }
    .Search__table tr:last-child td {
      border-bottom: 0;
    }
    .Search__table tr td:last-child {
      border-right: 0;
    }
  }
  
  /*bigger tablets*/
  @media (min-width: 800px) and (max-width: 1200px) {
    .Search__txthead {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 15px;
      color: #2541b2;
    }
  
    .Search__row {
      margin-left: 2rem !important;
    }
  
    .Search__para {
      margin-top: 30px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #656565;
      margin-bottom: 60px;
      margin-right: 80px;
    }
  
    .Search__select {
      width: 300px;
      height: 53px;
      background: #ffffff;
      box-shadow: 0px 0px 9px rgba(219, 219, 219, 0.25);
      border-radius: 5px;
    }
  
    .Search__btn {
      width: 300px;
      height: 53px;
      background: #2541b2;
      box-shadow: 0px 0px 9px rgba(219, 219, 219, 0.25);
      border-radius: 5px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
    }
  
    .Search__select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
    }
    .Search__select::-ms-expand {
      display: none;
    }
    .Search__table {
      border-collapse: collapse;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 25px;
      color: #656565;
      background-color: white;
      text-align: left;
      /* padding-left: 0 !important; */
      border-radius: 10px;
    }
    .Search__table td {
      border: 1px solid #cdcdcd;
      padding-bottom: 18px;
      padding-right: 80px;
    }
    .Search__title {
      padding-left: 42px;
      padding-top: 18px;
    }
    .Search__data {
      width: 300px;
      padding-left: 15px;
      padding-top: 18px;
      /* text-align: center; */
    }
    .Search__table tr:first-child td {
      border-top: 0;
    }
    .Search__table tr td:first-child {
      border-left: 0;
    }
    .Search__table tr:last-child td {
      border-bottom: 0;
    }
    .Search__table tr td:last-child {
      border-right: 0;
    }
  }
  
  /*tablet*/
  @media only screen and (min-width: 481px) and (max-width: 800px) {
    .Search__txthead {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 15px;
      color: #2541b2;
    }
  
    .Search__row {
      margin-left: 1rem !important;
    }
  
    .Search__para {
      margin-top: 30px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #656565;
      margin-bottom: 60px;
      margin-right: 50px;
    }
  
    .Search__select {
      width: 220px;
      height: 53px;
      background: #ffffff;
      box-shadow: 0px 0px 9px rgba(219, 219, 219, 0.25);
      border-radius: 5px;
    }
  
    .Search__btn {
      width: 220px;
      height: 43px;
      background: #2541b2;
      box-shadow: 0px 0px 9px rgba(219, 219, 219, 0.25);
      border-radius: 5px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      color: #ffffff;
    }
  
    .Search__select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
    }
    .Search__select::-ms-expand {
      display: none;
    }
    .Search__table {
      border-collapse: collapse;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #656565;
      background-color: white;
      text-align: left;
      /* padding-left: 0 !important; */
      border-radius: 10px;
    }
    .Search__table td {
      border: 1px solid #cdcdcd;
      padding-bottom: 18px;
      padding-right: 50px;
    }
    .Search__title {
      padding-left: 42px;
      padding-top: 18px;
    }
    .Search__data {
      width: 200px;
      padding-left: 10px;
      padding-top: 18px;
      /* text-align: center; */
    }
    .Search__table tr:first-child td {
      border-top: 0;
    }
    .Search__table tr td:first-child {
      border-left: 0;
    }
    .Search__table tr:last-child td {
      border-bottom: 0;
    }
    .Search__table tr td:last-child {
      border-right: 0;
    }
  }
  
  /*mobile*/
  @media screen and (max-width: 480px) {
    .Search__txthead {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 15px;
      color: #2541b2;
    }
  
    .Search__row {
      margin-left: 4rem !important;
    }
  
    .Search__para {
      margin-top: 30px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      color: #656565;
      margin-bottom: 77px;
      margin-right: 150px;
    }
  
    .Search__select {
      width: 400px;
      height: 53px;
      background: #ffffff;
      box-shadow: 0px 0px 9px rgba(219, 219, 219, 0.25);
      border-radius: 5px;
    }
  
    .Search__btn {
      width: 400px;
      height: 53px;
      background: #2541b2;
      box-shadow: 0px 0px 9px rgba(219, 219, 219, 0.25);
      border-radius: 5px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      color: #ffffff;
    }
  
    .Search__select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
    }
    .Search__select::-ms-expand {
      display: none;
    }
    .Search__table {
      border-collapse: collapse;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      color: #656565;
      background-color: white;
      text-align: left;
      /* padding-left: 0 !important; */
      border-radius: 10px;
    }
    .Search__table td {
      border: 1px solid #cdcdcd;
      padding-bottom: 18px;
      padding-right: 95px;
    }
    .Search__title {
      padding-left: 42px;
      padding-top: 18px;
    }
    .Search__data {
      width: 500px;
    }
    .Search__table tr:first-child td {
      border-top: 0;
    }
    .Search__table tr td:first-child {
      border-left: 0;
    }
    .Search__table tr:last-child td {
      border-bottom: 0;
    }
    .Search__table tr td:last-child {
      border-right: 0;
    }
  }