/*For Extra Large Devices and Large Devices*/
.heading{
  margin-left: 8rem;
  font-size: 35px;
  margin-bottom: 4rem;
  color: #2541B2;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* FOR TABLETS */
@media(min-width: 576px) and (max-width: 800px){
  .heading{
      margin-left: 6rem;
      font-size: 30px;
      margin-bottom: 2rem;
      color: #2541B2;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
  }
}

/* MOBILE */
@media screen and (max-width: 576px) {
  .heading{
      margin-left: 3rem;
      font-size: 19px;
      margin-bottom: 30px;
      color: #2541B2;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
  }
}       
  


/* MOBILE */
@media screen and (max-width: 576px) {
  .heading{
      margin-left: 3rem;
      font-size: 19px;
      margin-bottom: 30px;
      color: #2541B2;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
  }
}